body {
  margin:0px;
  background-color:rgba(248, 248, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1330 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1331 {
  position:absolute;
  left:40px;
  top:40px;
  width:295px;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1332 {
  position:absolute;
  left:0px;
  top:80px;
  width:375px;
  height:60px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1333 {
  position:absolute;
  left:40px;
  top:15px;
  width:295px;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1334 {
  position:absolute;
  left:9px;
  top:8px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u1336 {
  position:absolute;
  left:146px;
  top:630px;
  width:83px;
  height:19px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1339 {
  position:absolute;
  left:15px;
  top:150px;
  width:314px;
  height:10px;
  overflow:hidden;
}
#u1339_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:10px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1339_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
  background:inherit;
  background-color:rgba(26, 173, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  position:absolute;
  left:0px;
  top:5px;
  width:335px;
  height:2px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:-7px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#E6322D;
  text-align:center;
}
#u1342 {
  position:absolute;
  left:336px;
  top:147px;
  width:16px;
  height:16px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#E6322D;
  text-align:center;
}
#u1343 {
  position:absolute;
  left:0px;
  top:-1px;
  width:16px;
  word-wrap:break-word;
}
