body {
  margin:0px;
  background-color:rgba(248, 248, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1346 {
  position:absolute;
  left:40px;
  top:40px;
  width:295px;
  word-wrap:break-word;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1347 {
  position:absolute;
  left:0px;
  top:80px;
  width:375px;
  height:60px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1348 {
  position:absolute;
  left:40px;
  top:15px;
  width:295px;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1349 {
  position:absolute;
  left:9px;
  top:8px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
}
#u1351 {
  position:absolute;
  left:146px;
  top:1383px;
  width:83px;
  height:19px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1354 {
  position:absolute;
  left:0px;
  top:150px;
  width:375px;
  height:23px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1355 {
  position:absolute;
  left:15px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1356 {
  position:absolute;
  left:147px;
  top:152px;
  width:16px;
  height:16px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:173px;
}
#u1358 {
  position:absolute;
  left:15px;
  top:287px;
  width:345px;
  height:173px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:78px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:173px;
}
#u1360 {
  position:absolute;
  left:15px;
  top:476px;
  width:345px;
  height:173px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:78px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:222px;
}
#u1362 {
  position:absolute;
  left:15px;
  top:670px;
  width:345px;
  height:222px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:103px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:243px;
}
#u1364 {
  position:absolute;
  left:15px;
  top:922px;
  width:345px;
  height:243px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:114px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1367 {
  position:absolute;
  left:88px;
  top:207px;
  width:200px;
  height:1px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u1369 {
  position:absolute;
  left:155px;
  top:200px;
  width:66px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1371 {
  position:absolute;
  left:89px;
  top:251px;
  width:200px;
  height:1px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
